body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(9, 3, 61);
  color: aliceblue;
}

canvas {
  background-color: black;
}
